<ul>
  {{#each model as |bill|}}
    {{#if bill.short_title}}
      <br><hr>
      <li><h4>Name:</h4>{{bill.short_title}}</li>
    {{else}}
      <br><hr>
      <li><h4>Name:</h4>Sorry, there is no official name for that.</li>
    {{/if}}
    <li><h4>Description:</h4>{{bill.official_title}}</li>
  {{/each}}
</ul>

{{#link-to 'index'}}Home{{/link-to}}
